.layout-menu-top{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  .layout-logo{
    width: 131px;
    display: flex;
    align-items: center;
    img{
      width: 100%;
    }
  }
  .layout-menu-top-item{
    flex: 1;
    padding: 0 14px;
    .layout-menu-top-items{
      padding: 0 20px;
      &:hover{
        color: #4A83C5;
      }
    }
  }
}

.layout-content{
  width: 1200px;
  padding-top: 44px;
  margin: 0 auto;
  display: flex;
  .side-menu{
    width: 17%;
    display: inline-table;
    background: #F7F7F7;
    margin-right: 44px;
    border-radius: 8px;
    padding: 12px 0;
    .layout-menu-top-items{
      color: rgba(0, 0, 0, 0.65);
      transition: all 0.3s;
      padding: 16px 0 16px 46px;
      display: block;
      position: relative;
      &:hover,
      &.act{
        color: #1EE0CA;
        background: rgba(30,224,202, 0.08);
        border-right: 3px solid #1EE0CA;
        &::before{
          background: #1EE0CA;
        }
      }
      &::before{
        content: '';
        position: absolute;
        left: 28px;
        top: calc(50% - 3px);
        width: 6px;
        height: 6px;
        border-radius: 6px;
        transition: all 0.3s;
        background: #DDDDDD;
      }
    }
  }
  .layout-content-router{
    flex: 1;
    height: calc(100vh - 170px);
    overflow-x: hidden;
    overflow-y: auto;
    background: #F6F6F6;
    border-radius: 8px;
  }
}

.next-icestark-shell-brand .next-icestark-shell-header{
  background: #fff;
}
.next-shell-header{
  border-bottom: 1px solid rgba(0, 0, 0, 0.05)!important;
  // padding: 14px 0!important;
}
