{
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": true,
      },
    ],
    [
      "ramda",
      {
        "useES": true
      }
    ],
    "lodash"
  ]
}
