.input-close {
  &.anticon-close-circle {
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
    font-size: 12px;
  }
  &.anticon-close-circle:hover {
    color: #999;
  }
  &.anticon-close-circle:active {
    color: #666;
  }
}

.LoginForm {
  &-form {
    width: 340px;
    margin: 0 auto;
  }
  &-phone {
    margin: 0 auto;
    width: 340px;
    padding-left: 20px;
    height: 50px;
  }
  &-captcha-input {
    margin: 0 auto;
    width: 110px;
    height: 50px;
  }
  &-get-code-btn{
    width: 100px;
    height: 50px;
    float: right;
  }

  &-sms-input {
    width: 150px;
    float: left;
  }

  &-captcha-img {
    height: 40px;
    width: 120px;
  }

  &-login-btn {
    width: 100%;
    height: 50px;
  }

  .ant-input {
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    padding-left: 20px;
  }
}
