{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "> 5%",
            "last 2 versions",
            "not ie <= 8"
          ]
        },
        "modules": false,
        "exclude": [
          "transform-regenerator"
        ]
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-import-meta",
    "@babel/plugin-proposal-json-strings",
    // "@babel/plugin-helper-module-imports",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    // "@babel/plugin-proposal-function-sent",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-numeric-separator",
    "transform-vue-jsx",
    "transform-class-properties"
  ]
}
