@prefix: product-detail-title;

.@{prefix}- {
  &root{
    width: 100%;
    .highlight {
      color: red
    }
    .grey {
      color: #b5b5b3
    }
    .ellipsis {
      white-space: nowrap; /* 内容超出容器宽度时强制不换行 */
      overflow: hidden;        /* 内容超出容器时隐藏超出部分 */
      text-overflow: ellipsis;   /* 隐藏部分显示成"..." */
    }
    .mt20 {
      margin-top: 15px;
    }
    .addBtn {
      padding: 7px 16px;
      background: #f4f4f5;
      display: flex;
      align-items: center;
    }
    .btn {
      color: #fff;
      background-color: #00d8c9;
      border-color: #00d8c9;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
      line-height: 30px;
      display: inline-block;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 0 15px;
      font-size: 14px;
      border-radius: 4px;
      height: 32px;
    }
    .mb20 {
      margin-bottom: 15px;
    }
    .top {
      display: flex;
      justify-content: start;
      align-items: center;
      .text {
        font-weight: bold;
        font-size: 24px;
        margin: 0 20px;
      }
    }

  }
}
