

.component-drag-sort{

  .choose-sort-wrap{
    // width: 1200px;
    display: flex;
    justify-content: space-around;
  }

  .sort-list, .gift-list{
    overflow: auto;
    width: 520px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    .item{
      position: relative;
      width: 120px;
      height: 120px;
      margin-left: 3px;
      margin-top: 3px;
      border: 1px solid #ddeedd;
      cursor: move;
      cursor: grab;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      transition: all .3s;
      user-select: none;
      &.is-cover{
        transform: scale(1.2);
      }
      &.is-drag{
        opacity: 0.8;
      }
      .image{
        width: 60px;
        height: 60px;
        background: none no-repeat center;
        background-size: 100% auto;
      }
      .price{
        line-height: 20px;
        color: #e6a23c;
      }
      .gift-id, .name{
        font-size: 12px;
      }
      .del-btn, .lock-btn{
        position: absolute;
        width: 16px;
        height: 16px;
        top: 3px;
        right: 3px;
        font-size: 14px;
        z-index: 3;
        cursor: default;

      }
      .lock-btn{
        left: 3px;
        &.is-locked{
          color: red;
        }
      }
    }
  }
}
